.modal-content {
  @include center();

  position: relative;
  width: 650px;
  background-repeat: no-repeat;
  background-size: cover;

  &.normal {
    height: 604px;
    background-image: url('@/assets/baseModal/modal-bg-normal.png');
  }

  &.large {
    height: 754px;
    background-image: url('@/assets/baseModal/modal-bg-large.png');
  }

  .content {
    @include center();

    width: 100%;
  }

  .btn {
    display: flex;
    position: absolute;
    bottom: 10px;
    justify-content: space-around;
    width: 100%;

    &-cancel {
      @extend .btn-common;

      background-color: coral;
    }

    &-confirm {
      @extend .btn-common;

      background-color: skyblue;
    }
  }
}

.btn-common {
  @include center();

  width: 250px;
  height: 100px;
  border-radius: 10px;
}
